/*estilo para pocicionar el titulo del recargo*/
#recar{
  position: absolute;
  top: 100px;
  left: 550px;
}
/*darle posicionamiento al formulario de registro recargo*/
.container{
  position: absolute;
  top: 150px;
  left: 120px;
}
/*dar posicionamien al boton de registrar en el formulario registro recargo*/
#recarg1{
position: absolute;
  top: 350px;
  left: 500px;

}
/* dar posicionamiento al boton de atras en el formulario registro recargo*/
#recarg2{
position: absolute;
  top: 350px;
  left: 650px;
}

/*estilos para cliente*/

#cliente{
  position: absolute;
  top: 20px;
}
#actualizar{
  position: absolute;
  top: -70px;
  left: 600px;
}
#regcliente{
  position: absolute;
  left: 450px;

}

#btn-guardar{
  position: absolute;
  top: 450px;
  left: 190px;
}

/*#cvs{
position: absolute;
left: -135px;

}*/
#moverarch{
  position: absolute;
  top: 255px;
  left: 255px;
}
